<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnsoPlus.SelectionListener.DefaultSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EnsoPlus.SelectionListener.DefaultSettings>
            <setting name="BackgroundOpacity" serializeAs="String">
                <value>0.65</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FrameType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FrameColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="MainHeaderFont" serializeAs="String">
                <value>Arial, 30pt</value>
            </setting>
            <setting name="NormalFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="MainHeaderForeColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="MainHeaderBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="NormalTextForeColor" serializeAs="String">
                <value>GreenYellow</value>
            </setting>
            <setting name="NormalTextBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>640, 400</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BackgroundMarginsSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShowHideEffect" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowHideEffectDuration" serializeAs="String">
                <value>00:00:01</value>
            </setting>
            <setting name="ShowHideEffectUpdateInterval" serializeAs="String">
                <value>00:00:00.0500000</value>
            </setting>
            <setting name="MainHeaderHeight" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="FrameThickness" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Margins" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SelectedTextBackColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="SelectedTextForeColor" serializeAs="String">
                <value>OliveDrab</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="QueueLength" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SplitterPosition" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Active" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PasteKeyCombination" serializeAs="String">
                <value>162,68</value>
            </setting>
        </EnsoPlus.SelectionListener.DefaultSettings>
    </applicationSettings>
</configuration>